@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: white;
}



/* scroll bar */
html::-webkit-scrollbar {
    width: .8rem;

}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #184A78;
    border-radius: 2rem;
}

/* .sidebar {
    position: fixed;
    width: 80px;
    height: 100vh;
    background-color: #184A78;
    /* opacity:50%; */


span .tooltips{
    color: black;
}


/* .icons {
    position: absolute;
    top: 108px;
    display: flex;
    flex-direction: column;
}

.icons a {
    margin-bottom: 40px;
    margin-left: 20px;
} */

.links {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    width: 250px;
}

.links a {
    margin-bottom: 30px;
    margin-left: 80px;
    text-decoration: none;
    width: 130px;
    padding: 5px;
    border-radius: 10px;
    padding-left: 15px;
}

.links a:hover {
    color: #1d1b31;
    background-color: white;
}

.sidebar_footer {
    position: absolute;
    bottom: 0;
    background-color: #1d1b31;
    width: 100%;
    height: 60px;
}

.fa-building {
    position: absolute;
    top: 20px;
    right: 10px;
}

.footerIcon p {
    margin-top: 20px;
    margin-left: 10px;
    visibility: hidden;
}

.container {
    position: relative;
    left: 80px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    /* opacity:50%; */
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.card {
    flex: 2 0 150px;
    width: 200px;
    height: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card>p {
    color: black;
    margin-top: 10px;
}

.subcontainer1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
}



.subcontainer2 {
    display: flex;
    flex-direction: column;

}

.reps {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    margin-left: -100px;
}

.reps>p {
    color: black;
    margin-left: 20px;
    text-align: center;

}

.customers {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
    margin-left: -100px;
}

.customers>p {
    color: black;
    margin-left: 20px;
    text-align: center;
}

.popup {
    visibility: hidden;
}

.select_report {
    z-index: 2000000;
    visibility: hidden;
}

.removeuser {
    visibility: hidden;
    z-index: 20000;
}

.search_salesrep {
    visibility: hidden;
    z-index: 20000;
}

.routes {
    visibility: hidden;
}
.choose_product{
z-index: 20000;
visibility: hidden;
}
.charts {
    width: 1300px;
    height: 1000px;
    margin-left: 100px;
    /* display:flex;
    justify-content: space-between; */
    margin-top: 40px;
    z-index: 1000;
}

.chart-up {
    display: flex;
    /* justify-content: space-between; */

}


.sales-overview {
    width: 600px;
    height: 620px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    /* margin-right: 30px; */

}

.user-reg {
    width: 600px;
    height: 600px;
    background-color: #fff;
    /* margin-left: -100px; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}

.chart-down {
    display: flex;
    margin-top: 40px;
    justify-content: s;

}

.growth {
    width: 600px;
    height: 600px;
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    margin-right: -50px;
    margin-left: 70px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.growth table {
    margin-left: 20px;
    margin-right: 20px;
}

table {
    margin-top: 30px;
}

th {

    padding: 5px;
    margin: 5px;

    background-color: #184A78;
    color: #fff;
}

td {
    color: black;
    padding: 5px;
    margin: 5px;

}

th:nth-child(odd) {
    color: #ffffff;
    background: #4FC3A1;
}

tr:nth-child(odd) {
    background: #ccc4c4;
}


thead th {
    color: #ffffff;
    background: #4FC3A1;
}

.trans {
    width: 620px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: 70px;

}

#columnchart_material {
    margin-left: 50px;
    margin-top: 20px;
}

#count_products,
#count_salesreps,
#count_customers,
#count_routes,
#count_orders,
#count_deliveries {
    color: rgb(45, 211, 45);
    margin-top: -4px;
    font-weight: 700;
    font-size: 24px;
}