.cus-section{
    flex-direction: column;
    /* background-color: bisque; */
    width: 100%;
    height: 600px;
    justify-content: center;
    /* background-color: black; */
    padding-left: 30px;
    
}

.order-section table{
    /* margin-left: 100px; */


}
.cus-section h3{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
