.sec_1 {                                                            /* container of all sections (product name) */
    width: 90%;
    height: 550px;
    /*background-color: aqua;*/
    margin: auto;
    position: relative;

}
.leg_productName {                                                  /* 'product name' text*/
    margin: auto;
    font-size: xx-large;

}
.mainFieldSet {                                                     /* product name fieldset */
    height: 500px;
    border-radius: 30px;

}
.backBtn {                                                          /* back button */
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 40px;
    font-size: large;
    background-color: #184A78;
    color: white;
    border-radius: 10px;

}
.inStock {                                                          /* 'in stock' division */
    /* background-color: greenyellow; */
    width: 20%;
    height: 33%;
    /*margin: auto; */
    position: relative;
    left: 10%;
    
}
.input_inStock {                                            /* input of " in stock " */
    width: 40%;
    /*background-color: black;*/
    border-radius: 10px;
    background-color: #f3f3f3;
    border-color: white;
    

}
.input_inStock, .input_discount, .input_buy, .input_get {            /* input boxes of 'in stock' and 'Discount'  'Buy'and 'Get' */
    padding: 10px;
    width: 100px;
    
}
.label_inStock, .label_discount, .label_buy, .label_get {           /* 'In Stock' and 'Discount' texts */
    padding: 0px;
    font-size: x-large;

}
.addBtn, .removeBtn {                                               /* '+' button and '-' button in 'in stock' */
    width: 15%;
    height: 25%;
    border-radius: 20%;
    font-size: xx-large;
    background-color: #184A78;
    color: white;

}
.addBtn {
    position: absolute;
    left: 50%;

}
.removeBtn {
    position: absolute;
    right: 15%;

}
.withRep {                                                          /* 'With Rep' division */
    width: 50%;
    height: 290px;
    /*background-color: aquamarine;*/
    
}
table, td, th {
    border: 0px solid;
    border-collapse: collapse;
    
}
tr {
    height: 30px;
    border-bottom: 1px solid #dddd;

}
tr:nth-of-type(even) {
    background-color: #f3f3f3;

}
table {
    margin: auto;
    width: 90%;

}
thead {
    background-color: #184A78;
    color: white;
    text-align: left;
}
.text_withRep {                                                     /* 'With Rep' text */
    position: relative;
    left: 5%;

}
.discount {                                                         /* 'Discount' division */
    width: 50%;
    position: absolute;
    right: 0;
    top: 200px;
    
}
.leg_discount {                                                     /* legend 'Discount' (text) */
    margin: auto;
    font-size: x-large;
    
}
.fieldSet_discount {                                                /* fieldset 'Discount' */
    border-radius: 25px;
    width: 90%;

}
/* .or {                                                               /* 'OR' text in 'Discount' */
    /* position: absolute;
    left: 25%; 

} */
.inputAdd {                                                         /* input text of "+" */
    width: 35%;
    height: 25%;
    border-radius: 5px;
    background-color: #dddd;
    visibility: hidden;
    position: absolute;
    bottom: 10%;
    right: 10%;
    border-color: white;

}
.addamountAddBtn {                                                     /* submit btn of input text of + btn  */
    width: 10%;
    height: 27%;
    border-radius: 5px;
    background-color: #184A78;
    visibility: hidden;
    position: absolute;
    bottom: 11%;
    right: 0%;

}
.divInputRemove {                                                   /* division of the form of "-" */
    /* background-color: blueviolet; */
    width: 30%;                         
    height: 25%;
    position: absolute;
    top: 10%;
    left: 30%;

}
.removeStocksFieldset {                                             /* fieldset of the text box of "-" */
    width: 80%;
    height: 80%;
    border-radius: 10px;
    position: absolute;
    left: 0%;
    visibility: hidden;
    padding: 10PX 10px;
    background-color: #dddd;

}
.inputRemoveQuantity {                                              /* input text of " quantity " in " - " */
    width: 70%;
    position: absolute;
    left: 25%;

}
.inputRemoveReason {                                                /* input text of " reason " in "-" */
    width: 70%;
    height: 40%;         
    padding: 1px;
    align-items: center;
    position: absolute;
    left: 25%;

}
.div_currentPrice {                                                 /* division "current price" */
    /* background-color: darkcyan; */
    position: absolute;
    right: 8%;
    top: 10%;
    width: 30%;
    height: 7%;
    padding: 1%;
    font-size: x-large;

}
.input_currentPrice {                                               /* input field of " current Price " */
    width: 23%;
    height: 80%;
    font-size: large;
    border-color: #f3f3f3;
    background-color: #f3f3f3;
    cursor: none;

}
.btn_change {                                                       /* btn " change " */
    width: 25%;
    height: 45%;
    position: absolute;
    right: 5%;
    background-color: #165692;
    color: aliceblue;
    border-radius: 10px;

}
.div_newPrice {                                                     /* division of " newPrice " */
    background-color: #dddd;
    position: absolute;
    right: 8%;
    top: 20%;
    width: 30%;
    padding: 1%;
    height: 7%;
    visibility: hidden;
    font-size: x-large;

}
.input_newPrice {                                                   /* input field of " new Price " */   
    width: 22%;
    height: 50%;
    position: absolute;
    left: 39%;
    font-size: large;
    border-color: #f3f3f3;

}
.btn_update {                                                       /* btn " update " */
    width: 25%;
    height: 45%;
    position: absolute;
    right: 5%;
    background-color: #165692;
    color: aliceblue;
    border-radius: 10px;

}
.input_discount, .input_buy, .input_get {                           /* inputs of " percentage ", " buy ", "get " */
    width: 10%;

}
.label_discount {                                                   /* lable of " percentage " */
    position: absolute;
    left: 6%;

}
.input_discount {
    position: absolute;
    left: 30%;
    border-radius: 10px;
    border-color: #f3f3f3;
    background-color: #dddd;
    
}
.input_buy {
    position: absolute;
    left: 45%;
    top: 75%;

}
.label_get {
    position: absolute;
    right: 30%;
    top: 77%;

}
.input_get {
    position: absolute;
    right: 12%;
    top: 75%;

}
.label_buy {                                                        /* lable of " buy " */
    position: absolute;
    right: 60%;
    top: 77%;

}
.input_buy, .input_get {
    border-color: white;
    background-color: #dddd;
    border-radius: 10px;

}
.lable_newDiscount {
    position: absolute;
    left: 6%;

}
.div_currentDiscount {                                              /* division "current discount" */
    background-color: rgb(184, 143, 32);
    width: 80%;
    height: 40%;
    position: relative;
}
.div_newDiscount {                                                  /* division "new discount" */
    background-color: lightcoral;
    width: 80%;
    height: 40%;
    position: relative;

}
.label_currentDiscount, .label_newDiscount {                        /* labels of "current discount" and "new discount" */
    position: absolute;
    left: 5%;

}
.input_currentDiscount, .input_newDiscount {                        /* input fields of "current discount" and "new discount" */
    position: absolute;
    left: 35%;

}
.changeDiscountBtn {                            
    position: absolute;
    left: 60%;

}
.updateDiscountBtn {
    position: absolute;
    left: 60%;

}