/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Poppins" , sans-serif;
}
.header{
    position: absolute;
    top: 0;
    z-index: 10000;
}
body{
    position: relative;
    background-color:white;
    z-index: 20000;
}
/* CARDS START */
.cards{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top:130px;
    /* left: 50px; */
    z-index: 999;
    /* margin-left: 150px; */
    justify-content: center;
   
  }
  
.card{
    width: 250px;
    height: 100px;
    padding-top: 18px;
    margin-right: 40px;
    margin-bottom : 50px;
    text-align:center;
    z-index: 999;
    cursor:pointer;
    border-radius:10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    font-weight: bolder;
    font-size: large;
  }

#result{
    color:#4FC3A1 ;
    font-weight: 800;
    font-size: x-large;
  }
/* CARDS END */

.labels{
    position:fixed;
    z-index: 2000;
    left:55px;
    top:180px;
}
.chart{
    margin-top:150px;
    margin-left:100px; 
    width:400px;
    height:400px;
}
.chart1{
    margin-top:150px;
    /* margin-left:700px; */
    width:800px;
    height:500px;
}

/* .card { grid-area: r1; }
.report { grid-area: r2; } */
.chart { grid-area: r3; }
.chart1 { grid-area: r2; }

.charts{
display: grid;
grid-template-areas:
    'r3 r2';

}
/* .container{
display: grid;
grid-template-areas:
    'r1 r2';
} */
#confirm{
    float: left;
    background-color: #2277B2 ;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-left: 100px;
    margin-bottom: 50px;
    transition: ease-in-out;
  }
  #confirm:hover{
    background-color: #D7CEC8;
    color:#184A78 ;
    box-shadow: 0 0 3px 1px rgb(66, 133, 187);
  
  }