*{
    margin: 0;
    padding: 0;

background-size: cover;
background-position: center;

}
body{
  font-family: Arial, Helvetica, sans-serif;
background: #e4e1df;
position: relative;
height: 700px;
}
.container{
    margin-top: 40px;
    width: 320px;
    height: 400px;
    background-color: #184A78;
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 35px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    text-align: center;
    padding: 0 0 20px;
    font-size: 22px;
font-weight: 500;
letter-spacing: 1px;
}
.container p{
    margin: 0;
    padding: 0;
    /* font-weight: bold; */
}
.container input{
margin-bottom: 20px;
width: 100%;

}
.container input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline: none;
    height: 40px;
    color: #fff;
}
.container input[type="submit"]
{
border: none;
outline: none;
height: 40px;
background:#2277B2;
color: #fff;
font-size: 18px;
border-radius: 20px;

}
.container input[type="submit"]:hover{
    cursor: pointer;
    background-color: #D7CEC8;
    color:  #184A78;
}



.footer1{
   
    
  position: relative;
    width:100vw ;
    top: 700px;
}
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
  
    background: #184A78;
  
    color: #fff;
  
  }
  #message h4{
font-size: small;
  }
  #message p {
    padding: 5px 35px;
    font-size: 12px;
    
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }