.sec_1 {                                                            /* container of all sections (product name) */
    width: 90%;
    height: 550px;
    /*background-color: aqua;*/
    margin: auto;
    position: relative;

}
.leg_productName {                                                  /* 'product name' text*/
    margin: auto;
    font-size: xx-large;

}
.mainFieldSet {                                                     /* product name fieldset */
    height: 500px;
    border-radius: 30px;

}
.backBtn {                                                          /* back button */
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 40px;
    font-size: large;
    background-color: #184A78;
    color: white;
    border-radius: 10px;

}
.inStock {                                                          /* 'in stock' division */
    /* background-color: greenyellow; */
    width: 20%;
    height: 33%;
    /*margin: auto; */
    position: relative;
    left: 3%;
    
}
.input_inStock {                                            /* input of " in stock " */
    width: 40%;
    height: 24%;
    /* background-color: black; */
    border-radius: 10px;
    /* background-color: #f3f3f3; */
    border-color: white;
    font-size: large;
    font-weight: lighter;
    border: none;
    

}
.input_inStock, .input_discount, .input_buy, .input_get {            /* input boxes of 'in stock' and 'Discount'  'Buy'and 'Get' */
    padding: 10px;
    /* width: 100px; */
    
}
.label_inStock, .label_discount, .label_buy, .label_get {           /* 'In Stock' and 'Discount' texts */
    padding: 0px;
    font-size: large;

}
.addBtn, .removeBtn {                                               /* '+' button and '-' button in 'in stock' */
    width: 15%;
    height: 25%;
    border-radius: 20%;
    font-size: xx-large;
    background-color: #184A78;
    color: white;

}
.addBtn {
    position: absolute;
    left: 50%;

}
.removeBtn {
    position: absolute;
    right: 15%;

}
.withRep {                                                          /* 'With Rep' division */
    width: 50%;
    height: 290px;

    /*background-color: aquamarine;*/
    
}
table, td, th {
    border: 0px solid;
    border-collapse: collapse;
        
}
tr {
    height: 40px;
    border-bottom: 1px solid #dddd;

}
tr:nth-of-type(even) {
    background-color: #f3f3f3;

}
table {
    margin: auto;
    width: 90%;
    overflow: scroll;

}
thead {
    background-color: #184A78;
    color: white;
    text-align: center;
    font-weight: light;
    /* position: fixed; */

}
th {
    font-size: medium;
    font-weight: light;
    position:sticky;

}
td {
    text-align: center;
}
.text_withRep {                                                     /* 'With Rep' text */
    position: relative;
    left: 5%;
    /* border-bottom: black; */
    font-size: large;
    font-weight: light;

}
.discount {   
    /* background-color: rgb(202, 22, 112);                                                      'Discount' division */
    width: 70%;
    position: absolute;
    right: 10%;
    top: 20%;
    /* border-color: aqua; */
    height: 40%;
      
}
.classA {
    background-color: #0e9b49;
    width: 200px;
    height: 50px;
    bottom: 500px;

}
.inputAdd {                                                         /* input text of "+" */
    width: 35%;
    height: 25%;
    border-radius: 5px;
    background-color: #dddd;
    visibility: hidden;
    position: absolute;
    bottom: 20%;
    right: 15%;
    border-color: white;

}
.addamountAddBtn {                                                  /* submit btn of input text of + btn  */
    width: 100%;
    height: 24%;
    border-radius: 5px;
    background-color: #165692;
    visibility: hidden;
    position: absolute;
    bottom: 20%;
    right: 5%;
    color: white;

}
.divInputRemove {                                                   /* division of the form of "-" */
    /* background-color: blueviolet; */
    width: 30%;                         
    height: 25%;
    position: absolute;
    top: 15%;
    left: 21%;

}
.removeStocksFieldset {                                             /* fieldset of the text box of "-" */
    width: 90%;
    height: 80%;
    border-radius: 10px;
    position: absolute;
    left: 0%;
    visibility: hidden;
    padding: 10PX 10px;
    background-color: #dddd;
    border: none;
    top: 10%;

}
.inputRemoveQuantity {                                              /* input text of " quantity " in " - " */
    width: 50%;
    position: absolute;
    left: 35%;
    height: 20%;    

}
.inputRemoveReason {                                                /* input text of " reason " in "-" */
    width: 50%;
    height: 60%;         
    padding: 1px;
    align-items: center;
    position: absolute;
    left: 35%;
    bottom: 5%;

}
.btn_submitRemove {                                                 /* submit remove */
    position: absolute;
    bottom: 5%;
    right: 3%;
    width: 10%;
    height: 30%;
    background-color: #165692;
    border-radius: 20%;
    color: white;

}
.div_currentPrice {                                                 /* division "current price" */
    /* background-color: rgb(184, 202, 202); */
    position: absolute;
    left: 8%;
    top: 10%;
    width: 80%;
    height: 40%;
    /* padding: 1%; */
    font-size: large; 
    padding: 5px;

}
.label_currentPrice {                                               /* label 'current price' */
    position: absolute;
    left: 5%;

}
.input_currentPrice {                                               /* input field of " current Price " */
    width: 22%;
    height: 60%;
    font-size: large;
    border-color: #f3f3f3;
    background-color: #f3f3f3;
    cursor: none;
    font-weight: light;
    border: none;
    position: absolute;
    left: 41%;

}
.btn_change {                                                       /* btn " change " */
    width: 20%;
    height: 70%;
    position: absolute;
    right: 10%;
    background-color: #165692;
    color: aliceblue;
    border-radius: 10px;

}
.div_newPrice {                                                     /* division of " newPrice " */
    background-color: #dddd;
    position: absolute;
    right: 8%;
    top: 22%;
    width: 40%;
    padding: 1%;
    height: 10%;
    visibility: hidden;
    font-size: x-large;

}
.label_newPrice {                                                   /* label ' new price' */
    position: absolute;
    left: 5%;

}
.input_newPrice {                                                   /* input field of " new Price " */   
    width: 22%;
    height: 60%;
    position: absolute;
    left: 41%;
    font-size: large;
    border-color: #f3f3f3;

}
.btn_update {                                                       /* btn " update " */
    width: 20%;
    height: 53%;
    position: absolute;
    right: 10%;
    background-color: #165692;
    color: aliceblue;
    border-radius: 10px;

}
.div_currentDiscount {                                          /* current discount division */
    /* font-size: large;
    position: absolute;
    bottom: 0%;
    background-color: bisque;    
    width: 20%; */
    width: 120%;
    height: 70%;
    /* background-color: aliceblue; */
    position: absolute;
    left: -20%;font-size: large;

}
.div_newDiscount {                                              /* new discount division */
    font-size: x-large;
    position: relative;
    /* position: absolute; */
    top: 10%;
    background-color: #dddd;
    visibility: hidden;
    height: 20%;
    padding: 5%;
    width: 90%;

}
.label_currentDiscount {                                        /* current discount label */    
    position: absolute;
    top: 13%;
    /* background-color: antiquewhite; */
    left: 5%;
    padding: 1.5px;

}
.input_currentDiscount {                                        /* current discount input */
    /* position: absolute;
    left: 50%;
    height: 70%;
    width: 20%;
    background-color: #dddd;
    font-size: x-large;
    font-weight: light; */
    width: 25%;
    height: 90%;
    border-color: #165692;
    position: absolute;
    left:40%;
    top: 11%;

}
.input_newDiscount {                                            /* new discount input */
    position: absolute;
    top: 15%;
    left: 45%;
    height: 55%;
    /* visibility: hidden; */
    width: 22%;

}
.btn_changeDiscount {                                           /* change discount btn */
    position: absolute;
    right: 6%;
    height: 65%;
    width: 20%;
    background-color: #165692;
    color: aliceblue;
    border-radius: 10px;

}
.btn_updateDiscount {                                           /* update discount */
    position: absolute;
    top: 15%;
    right: 8%;
    height: 50%;
    width: 21%;
    background-color: #165692;
    color: aliceblue;
    border-radius: 10px;

}
 /* scroll bar */
 html::-webkit-scrollbar{
  width: .8rem;
  
}

html::-webkit-scrollbar-track{
  background: transparent;

}

html::-webkit-scrollbar-thumb{
  background: #184A78;
  border-radius: 2rem;

}
input, button {
    border:  none;

}
input {
    font-size: large;
    font-weight: light;

}
.repTable {
    overflow: scroll;
    height: 70%;

}
.notify_limit_label {
    position: relative;
    top: 100px;
    left: -210px;

}
#notify_limit_input {
    position: relative;
    top: 60px;
    left: 200px;

}
.a {
    position: absolute;
    right: 0%;
    top: 10%;
    /* background-color: rgb(17, 202, 27); */

}
.fieldsetPrice {
    width: 45%;
    height: 20%;
    position: absolute;
    right: 3%;
    top: 15%;
    border-radius: 20px;

}
.fieldsetDiscount {
    /* height: 2%; */
    position: absolute;
    height: 25%;
    right: 3%;
    border-radius: 20px;
    width: 45%;
    top: 35%;
    /* background-color: aquamarine; */
}
.messagecontainer {
    background-color: transparent;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 110%;
    
}
.pop_up_msg {
    width: 500px;
    background-color: #fff;
    height: 300px;
    border: 3px solid #184A78;

    /* background-color: #f6f8f7;
    position: absolute;
    width: 40%;
    height: 45%;
    left: 30%;
    top: 25%;
    border-radius: 15px;
    /* border-color: #184A78; */
    /* border: 4px solid #184A78;
    visibility: hidden; */

}
.Yes {
    width: 12%;
    height: 10%;
    background-color: #184A78;
    position: absolute;
    bottom: 15%;
    left: 20%;
    border-radius: 10px;
    font-size: large;
    font-weight: 400;
    border: none;

}
.No {
    width: 12%;
    height: 10%;
    background-color: #0e9b49;
    position: absolute;
    bottom: 15%;
    right: 20%;
    border-radius: 10px;
    font-size: large;
    font-weight: 400;
    border: none;

}
.checkIcon {
    width: 8%;
    height: 14%;
    position: absolute;
    /* background-color: lawngreen; */
    left: 46%;
    top: 14%;
    
}
.fa-solid fa-circle-check fa-3x {
    position: absolute;
    top: 10%;
    color: #05be3d;
    
}
.confirmTextArea_1 {
    width: 100%;
    height: 30%;
    /* background-color: #0e9b49; */

}
.confirmTextArea_2 {
    width: 100%;
    height: 30%;
    background-color: #0e9b49;


}
.addAmountDiv {
    width: 100%;
    height: 30%;
    /* top: 0%; */
    /* background-color: aqua; */
    position: absolute;
    bottom: 20%;
    visibility: hidden;
    
}
.addAmountInput {
    /* background-color: coral; */
    position: absolute;
    width: 40%;
    height: 80%;
    border-radius: 10px;
    left: 10%;
    top: 10%;

}
.submitAddAmount {
    background-color: #184A78;
    position: absolute;
    width: 15%;
    height: 80%;
    left: 50%;
    border-radius: 10px;
    top: 10%;

}
.addAmountFieldset {
    height: 100%;
    width: 75%;
    border-radius: 10px;
    background-color: #dddd;
    border: none;

}
.Btn {
    width: 100%;
    height: 10%;
    /* background-color: #ad1799; */
    /* position: absolute; */
    margin-top: 25%;
    margin-left: 0%;

}
.yes {
    width: 10%;
    height: 100%;
    background-color: #184A78;
    margin-left: 15%;
    border-radius: 10px;
    color: #fff;

}
.no {
    width: 10%;
    height: 100%;
    background-color: red;
    margin-left: 50%;
    border-radius: 10px;
    color: #fff;

}
.addedSuccessfullyPopUppop_up {                 
    width: 100%;
    height: 500px;
    /* background-color: red; */
    margin-top: -600px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: hidden; */

}
.addedSuuccessfullyMessage {
    width: 500px;
    background-color: #fff;
    height: 300px;
    border: 3px solid #184A78;

}
.successfullText {
    width: 100%;
    height: 30%;
    /* background-color: #0e9b49; */
    margin-bottom: 20%;

}
.addedSuccessfullyDoneBtn {
    width: 10%;
    height: 100%;
    background-color: #184A78;
    margin-left: 45%;
    border-radius: 10px;
    
}
.pop_up_msg_remove {
    width: 500px;
    background-color: #fff;
    height: 300px;
    border: 3px solid #184A78;

    /* background-color: #f6f8f7;
    position: absolute;
    width: 40%;
    height: 45%;
    left: 30%;
    top: 25%;
    border-radius: 15px;
    /* border-color: #184A78; */
    /* border: 4px solid #184A78;
    visibility: hidden; */

}
.confirmTextArea_1_remove {
    width: 100%;
    height: 30%;
    /* background-color: #0e9b49; */

}
.notifyLimit {
    position: absolute;
    width: 45%;
    height: 20%;
    top: 60%;
    border-radius: 20px;
    right: 3%;
    
}
.divLimit {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 20%;
    /* background-color: rgb(226, 12, 12); */
    
}
.lblNotifyLimit {
    position: absolute;
    width: 20%;
    height: 49%;
    /* background-color: rgb(7, 88, 158); */
    left: 10%;
    font-size: large;

}
.inputNotifyLimit {
    position: absolute;
    width: 20%;
    height: 49%;
    background-color: #dddd;
    left: 40%;

}
.changeLimitBtn {
    position: absolute;
    width: 12%;
    height: 49%;
    background-color: #184A78;
    right: 20%;
    border-radius: 6px;
    color: #fff;

}
.updateLimitBtn {
    position: absolute;
    width: 12%;
    height: 49%;
    background-color: #184A78;
    right: 20%;
    border-radius: 6px;
    color: #fff;
    bottom: 0%;
    visibility: hidden;

}
.tryAgainBtn {
    width: 18%;
    height: 100%;
    background-color: red;
    margin-left: 41%;
    border-radius: 10px;
    color: #fff;

}
.updateLimit {
    position: absolute;
    width: 20%;
    height: 49%;
    background-color: #dddd;
    left: 40%;
    bottom: 0%;
    visibility: hidden;
    
}
.newLimitLbl {
    position: absolute;
    width: 20%;
    height: 49%;
    /* background-color: rgb(7, 88, 158); */
    left: 10%;
    font-size: large;
    bottom: 0%;
    visibility: hidden;
}