@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    width: 100vw;
    
    font-family: "Poppins" , sans-serif;
    color: black;
    background: #ffffff;
    
  }
.main{
         display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        flex-wrap: wrap;
       flex-direction: column;
       position: relative;
       
    
       

}
/* scroll bar */
html::-webkit-scrollbar{
  width: .8rem;
  
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #184A78;
  border-radius: 2rem;
}
.header{
    position: absolute;
    top: 0;
    z-index: 10000;
}

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;;
        /* margin-top: 100px; */
    }
.div1{
    background-color: #ffffff;
    width: 600px;
   
    /* display: flex;
    flex-direction: column; */
    margin-right: -600px;
    /* text-align: center; */
    color: rgb(0, 0, 0);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}
.label{
    display: flex;
    flex-direction: column;
    position: absolute;
    
}

.div2{
    background-color: #ffffff;
    width: 600px;
 
   
    color: rgb(0, 0, 0);
   
    border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}
.div3{
    background-color: #ffffff;
    width: 600px;
 
   
    color: rgb(0, 0, 0);
   
    margin-left: -600px;
    border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 5px 10px rgba(187, 105, 105, 0.1);
}

input{
    
width: 450px;
   margin-bottom:30px;
   margin-left: 70px;
   margin-top:10px;
   height: 30px;
  
   background-color: rgb(245, 244, 244);
   border-radius: 5px;
  
  padding: 6px;
 border: none;
 
}
input:focus{
  text-align: center;
}

h3{
    margin: 20px;
    text-align: center;
    font-size: 20px;
}
label{
    margin:30px;
    padding:20px;
    margin-bottom: 50px;
    text-transform: capitalize;
   
}

select{
  width: 400px;
   margin-bottom:30px;
   margin-left: 60px;
   margin-top:10px;
   height: 30px;
  
   background-color: rgb(245, 244, 244);
   border-radius: 5px;
  
  padding: 6px;
 border: none;
}

.content button{
  float: center;
    width: 200px;
    height: 40px;
    background-color:#184A78;
    border-radius: 10px;
    outline: none;
    color: #fff;
    border: none;
    border-top:-45px;
    cursor: pointer;
    margin: 20px;
    margin-left: 200px;
    
    box-shadow: 1px 1px 1px 1px;
}
/* ::-webkit-input-placeholder {
   text-align: center;
} */
.btn-group{
    display: flex;
 width: 500px;
 height: 30px;
font-size: 20px;
    align-items: center;
    border-top-right-radius: 40px;
  border-top-left-radius: 20px;
}
input[type="date"]{

}
button:hover{
    
    background-color: #D7CEC8;
    color:  #184A78;
   }

   .btn-group button {
  background-color: #ffffff; 
  border: 1px solid #ffffff; 
  color: rgb(0, 0, 0);
  padding: 10px 24px;
 
  cursor: pointer; 
  width: 100%; 
  display: block;
 

}
.btn-group button .admin{
  border-top-left-radius: 10px;
  background-color: #184A78;
}
.btn-group button:not(:last-child) {
  border-bottom: none; 
}


.btn-group button:hover {
    background-color: #D7CEC8;
    color:  #184A78;
}
.message{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sucess{
  background-color: rgb(92, 211, 92);
  color: #fff;
  width: 300px;
  height: 50px;
  visibility: hidden;
}
.sucess span ,.error p{
  padding: 20px;
}

/* .error{
  background-color: rgb(253, 10, 10);
  color: #fff;
  width: 300px;
  margin-top: -50px;;
  height: 50px;
} */



#hid1, #hid2{
visibility: hidden;
}
@media screen and (max-width: 550px) {

  .div1{
    width:450px;
    margin-right: -450px;
  }
  .div2{
    width:450px;
  }
  .div3{
    width:450px;
    margin-left: -450px;
  }
.btn-group{
  width:450px
}
}


.pop-up-div{
  width: 100%;
  /* background-color: #5a0000; */
  height: 1000px;
  position: fixed;
  margin-top: -1000px;
  display: flex;
  justify-content: center;
  visibility:hidden;
}