*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}

body{
    position: relative;
    background: #e4e1df;
}



/* Table Styles */

.table-wrapper{
    margin-top: 200px;
    margin: 130px 200px 70px;
    box-shadow: 0px 10px 20px rgba( 0, 0, 0, 0.2 );
    
}

.fl-table {
    border-radius: 5px;
    font-size: 25px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    
}


.header{
    margin-top: 0px;
}


.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}


.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 20px;
}


.fl-table thead th {
    color: #ffffff;
    background: #2277B2;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #184A78;
}


.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}


.inputf{
    /* background-color: rgb(245, 244, 244); */
    background-color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    
}


.inputf1{
    /* background-color: white; */
    background-color: #F8F8F8;
    border: none;
    padding: 8px;
    border-radius: 5px;
  
}

/* Responsive  table*/

@media (max-width: 767px) {

    .fl-table {
        display: block;
        width: 100%;
    }


    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    } 


    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }


    .fl-table thead th:last-child{
        border-bottom: none;
    }


    .fl-table thead {
        float: left;
    }


    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }


    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }


    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }


    .fl-table tbody tr {
        display: table-cell;
    }


    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }


    .fl-table tr:nth-child(even) {
        background: transparent;
    }


    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }


    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }


    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}


/* submit */


#submit{
    
    float: right;
    background-color: #184A78 ;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-right: 200px;
    margin-bottom: 50px;
    transition: ease-in-out;
    
}



#submit:hover{

    background-color: white;
    color:rgb(4, 30, 92) ;
    box-shadow: 0 0 3px 1px rgb(4, 30, 92);
 
}


