/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Poppins" , sans-serif;
    
}
.header{
    position: absolute;
    top: 0;
    z-index: 10000;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    position: absolute;
    width: 100%;
    
    height: 100vh;
    /* left: 0px; */
    
    
}
body{
    margin : 0px; 
    position: relative;
    background: white;
}
.sub-container{
    padding: 40px;
    background-color: white;
    width: 500px;
    
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba( 0, 0, 0, 0.2 );

    margin-top: 50px;
   
}

.title1{
    font-size: xx-large;
    font-weight: 600;
    color:black ;
    text-align: center;
    padding-bottom: 20px;
}
label{
    width: 150px;
    float: left;
}
.input-fields{
    padding: 20px;
    font-size: large;
    color: black;
}
.inputf{
    background-color: rgb(245, 244, 244);
    border: none;
    padding: 8px;
    border-radius: 5px;
    width: 240px;
}
#confirm{
    float: right;
    background-color: #2277B2 ;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-right: 50px;
    transition: ease-in-out;
}
#confirm:hover{
    background-color: #D7CEC8;
    color:#184A78 ;
    box-shadow: 0 0 3px 1px rgb(66, 133, 187);
 
}
#back{
    float: left;
    background-color: #2277B2 ;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: 730px;
    margin-bottom: 50px;
    transition: ease-in-out;
  }
  #back:hover{
    background-color: #D7CEC8;
    color:#184A78 ;
    box-shadow: 0 0 3px 1px rgb(66, 133, 187);
  
  }
