*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* position: relative; */
    width: 100%;
    height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
   background: rgb(219, 216, 216);
   z-index: 0;
}
.header{
    z-index: 4000;
    position: absolute;
    top: 0;
}
.container{
    
    width: 100%;
    margin-top: 100px;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

    .orders{
        text-align: center;
        width: 600px;
        margin: 10px;
        height: 300px;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 10px;
        flex-direction: column;
        justify-content: center;
    }
    .payment{
        text-align: center;
        width: 600px;
        border-radius: 10px;
        margin: 10px;
        height: 300px;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    table{
        float: center;
        padding: 20px;
    }
th,tr{
    margin:2px;
    width: 200px;
    text-align: center;
   border-radius: 5px;
    padding: 5px;
    margin-left: 20px;
    background: #184A78;
    color: rgb(0, 0, 0);
}
table td a{
    color: black;
    text-decoration: none;
}
td{
    margin:2px;
    width: 200px;
    text-align: center;
   border-radius: 3px;
    padding: 5px;
    font-weight:500 ;
    margin-left: 20px;
    background-color:  #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
td:hover{
    background: #184A78;
}
.delete{
    color: red;
    font-weight:700 ;
    text-decoration: none;
}
.edit{
    color: rgb(6, 124, 42);
    font-weight:700 ;
    text-decoration: none;
}
tr a{
    color: #fff;
}

 table   td i{color: rgb(6, 124, 42);
    /* padding-left: 20px; */
  
} 

.btn button{
    width: 100px;
    height: 30px;
    background-color:#184A78 ;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 10px;
    color: #fff;
    border:none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.btn button a{
    color: #fff;
    text-decoration: none;
}
h3{
 text-transform: uppercase;

}


    /* .footer1{
        position: absolute;
        top: 750px;
        width: 100vw;
        } */
    
        @media screen and (max-width: 650px) {
.order{
    width: 600px;
}
.payment{
    width: 600px;
    height: 600px;
    margin-top: 50px;
}
@media screen and (max-width: 570px){
.payment {
    width: 570px;
}
.order{
    width: 570px;
}
}

        }
        
        @media screen and (max-width: 350px) {
            .order{
                width: 200px;
            }
        }