table {
    width: 80%; 
    margin: auto;           /* move table to middle */
    position: relative;
    top: 50px;

}
th {
    text-align: left;           /* allign th in to left*/

}
table, th, td {
    border: 1px solid #000; 
    border-collapse: collapse;      /* remove the space between borders */

}
th, td {
    padding: 10px;

}
body {
    font-family: Arial, Helvetica, sans-serif;

}* {
    margin: 0;      /* keep align to the edge of the browser */
    padding: 0;

}
header {
    background-color: #184A78;                     /* background color */
    color: antiquewhite;        /* font color */
    position: relative;     /* keep header on top and the footer on the bottom */
    width: 100%;
    height: 15vh;

}
.back {
    position: absolute;
    right: 10%;
    top: 600px;

}
.add {
    position: absolute;
    left: 10%;
    top: 55%;
}
button {
    font-size: large;
    background-color: #2277B2;
    width: 100px;
    height: 40px;

}
.user {
    width: 10vh;
    height: 10vh;
    position: fixed;
    right: 0;
    top: 2%;

}
.notification {
    width: 10vh;
    height: 10vh;
    position: fixed;
    top: 2%;
    right: 15vh;

}
