*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body{
    /* position: relative; */
    width: 100vw;
    /* height: 900px; */
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: #e4e1df;
    z-index: -1000;

}

.search{
    width: 100px;
    height: 100px;
}
.header{
    position: absolute;
    top: 0;
    z-index:5000;
}

.container{
    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
     margin-bottom: 40px; 
}

.card{
    margin-top: 100px; 
    background-color: rgb(211, 155, 155);
    width: 200px;
    height: 320px;
margin: 10px;
border-radius:15px;


}
.card-image{
    background-color: wheat;
    height: 200px;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.card-image img{
    width: 200px;
    height: 200px; ;
}
.card h2{
    padding: 10px;
    font-size: medium;
}
.card p{
    padding: 10px;
    font-size: small;
}
.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
}

.card:hover{
    background-color:#184A78 ;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all is ease;
}

.footer1{
    position: relative;
    
    /* top: 1000px; */
    width: 100vw;
    }



 
.logo{
    margin-top: 80px;
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background:url(
        "../../public/images/back-ice.jpg") no-repeat;
    background-size: cover;
    background-position: center;
   
}
.logo:hover{
    transform: scale(1.1);
}

.logo .content{
   
    max-width: 60rem;
}

.logo .content h3{
    
    font-size: 2.5rem;
    text-align: center;
    padding: 60px;
    text-transform: uppercase;
    color:#080808;
}

/* .logo .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}    */

/* .yoghurt{
    display: flex;
    justify-content: center;
    /* align-items: center; */

/* .yoghurt h4{
    tex
} */

.yoghurt .main-card{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;

}
.yoghurt h4{
text-align: center;
padding: 20px;
font-size: 30px;
text-transform: uppercase;
}
.yoghurt h4 span{
    color: #184A78;
}

.icecream .main-card{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;

}
.icecream h4{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    text-transform: uppercase;
    }
    .icecream h4 span{
        color: #184A78;
    }
    .curd .main-card{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
    
    }
    .curd h4{
        text-align: center;
        padding: 20px;
        font-size: 30px;
        text-transform: uppercase;
        }
        .curd h4 span{
            color: #184A78;
        }


  /* .btn button{
      background-color: #184A78;
      width: 100px;
      border: 1px #fff solid;
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      cursor: pointer;
  }      
  .btn button:hover{
      background-color: #0434b9;
  } */

  .btn a{
      width: 100px;
      height: 20px;
      padding: 10px;
      margin: 20px;
      /* margin-bottom: 200px; */
      border-radius: 10px;
      cursor: pointer;
      color: #fff;
      text-decoration: none;
      background-color: #184A78;
  }