*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100vw;
    height: 750px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: #e4e1df;
}

.header{
    width: 100%;
    height: 100px;
    margin-top: 0;
    position: fixed;
    
    margin-bottom: 20px;
}
.login{
  
display: flex;
align-items: center;
justify-content: center;
}

.login-div{

  display: flex;
  justify-content: center;
  flex-direction: column;
    margin-top: 100px;
    
    width: 400px;
    height: 500px;
    padding: 60px 35px 35px 35px;
    border-radius: 10px;
    background-color: #ffffff; 
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}


.title h1{
    text-align: center;
    font-size: 28px;
text-transform:uppercase;
    letter-spacing: 0.5px;
    color: #184A78;
}
.sub-title{
    text-transform:uppercase;
    text-align: center;
    font-size: 15px;
    padding: 7px;
    letter-spacing: 3px;
    color: #184A78;
}

.fields{
    width: 100%;
    
    padding: 40px 10px 5px 5px;
}
.username{
    border-bottom: 2px solid #184A78;
    background-color: #fff;
}
.password{
    border-bottom: 2px solid #184A78;
}
.fields input{
 border: none;
    outline: none; 
    background: none;
    font-size: 18px;
   
    color: rgb(0, 0, 0);
    padding: 20px 10px 20px 5px;
    background-color: transparent;
}

.username,.password{
    margin-bottom: 30px;
    border-radius:25px ;
    
  
}
.fields svg{
    height: 22px;
    margin: 0 10px -3px 25px ;
    color: #fff;
    /* background-color: #fff; */
}
.signin-button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
  float: center;
    text-align: center;
    background:#184A78;
    color: #fff;
    /* box-shadow: 3px 3px 8px #b1b1b1,-3px -3px 8px #fff; */
    transition: all 0.5s;
}
.signin-button:hover{
    background-color: #D7CEC8;
    color:  #184A78;
}
.signin-button:active{
    background-color: burlywood;
}
.link{
    padding-top:20px;
    text-align: center;
}
.link a
{
text-decoration: none;
color: #aaa;
font-size: 15px;

}

.footer1{
position: absolute;
top: 700px;
width: 100vw;
}

@media screen and (max-width: 500px) {
    
    .login-div{
        width: 350px;
    }


  }