
  body{
    width: 100vw;
    
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: #ffffff;
    
  }
.main{
         display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        flex-wrap: wrap;
       flex-direction: column;
       position: relative;
       
    
       

}
.header{
    position: absolute;
    top: 0;
    z-index: 10000;
}

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;;
        /* margin-top: 100px; */
    }
.div1{
    background-color: #ffffff;
    width: 500px;
    height: 520px;
    /* display: flex;
    flex-direction: column; */
    margin-right: -500px;
    /* text-align: center; */
    color: rgb(0, 0, 0);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}
.label{
    display: flex;
    flex-direction: column;
    position: absolute;
    
}

.div2{
    background-color: #ffffff;
    width: 500px;
    height: 520px;
   
    color: rgb(0, 0, 0);
   
    border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}
.div3{
    background-color: #ffffff;
    width: 500px;
    height: 520px;
   
    color: rgb(0, 0, 0);
   
    margin-left: -500px;
    border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

input{
    
width: 300px;
   margin: 10px;
   height: 30px;
  
   border-radius: 5px;
   text-align: center;
   border:none;
   outline: none;
   border:2px solid black;
 
}
input:focus{
  text-align: center;
}

h3{
    margin: 20px;
    text-align: center;
    font-size: 20px;
}
label{
    margin: 20px;
   
}

.content button{
  float: center;
    width: 200px;
    height: 40px;
    background-color:#2277B2;
    border-radius: 10px;
    outline: none;
    color: #fff;
    border: none;
    border-top:-45px;
    cursor: pointer;
    /* margin: 40px; */
    margin-left: 150px;
    
    box-shadow: 1px 1px 1px 1px;
}
::-webkit-input-placeholder {
   text-align: center;
}
.btn-group{
    display: flex;
 width: 500px;
 height: 30px;

    align-items: center;
    border-top-right-radius: 40px;
  border-top-left-radius: 20px;
}
input[type="date"]{
  text-align:center;
}
button:hover{
    
    background-color: #D7CEC8;
    color:  #184A78;
   }

   .btn-group button {
  background-color: #184A78; 
  border: 1px solid #ffffff; 
  color: rgb(255, 255, 255);
  padding: 10px 24px;
  margin-bottom: 20px;
  cursor: pointer; 
  width: 100%; 
  display: block;
 

}

.btn-group button:not(:last-child) {
  border-bottom: none; 
}


.btn-group button:hover {
    background-color: #D7CEC8;
    color:  #184A78;
}
.message{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sucess{
  background-color: rgb(92, 211, 92);
  color: #fff;
  width: 300px;
  height: 50px;
}
.sucess p ,.error p{
  padding: 20px;
}

.error{
  background-color: rgb(253, 10, 10);
  color: #fff;
  width: 300px;
  margin-top: -50px;;
  height: 50px;
}
@media screen and (max-width: 550px) {

  .div1{
    width:450px;
    margin-right: -450px;
  }
  .div2{
    width:450px;
  }
  .div3{
    width:450px;
    margin-left: -450px;
  }
.btn-group{
  width:450px
}
}
