*{
    padding: 0;
    margin: 0;
}
body{
   
    width: 100vw;
    
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: #e4e1df;
}
.container{
    /* position:; */
    display: flex;
    margin: 40px;
    margin-top: 100px;
    
}
.header{
    position: absolute;
    top: 0;
    z-index: 5000;
}
.footer1{
    position: relative;
    /* bottom: 0px; */
    top: 1000px;
    width: 100vw;
    }
.right-sub{
    width: 30%;
    background-color: rgb(253, 253, 253);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height:500px;
    color: rgb(3, 3, 3);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    flex-direction: column;
}
.left-sub{
    width: 70%;
    height:500px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    
}
h2{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.left-sub::before{
    content: "";
    background-image: url("../../public/images/reports.jpg");
   position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
    display: flex;
    justify-content: center;
}
.left-sub h1 {
    position: relative;
    color: #ffffff;  
    /* font-size: 14rem; */
    line-height: 0.9;
    text-align: center;
  }
   

label{
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-size:20px;
}
select{
    background-color: #ffffff;
    height: 40px;
    outline: none;
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
   /* margin-top: 20px; */
   width: 200px;
    border-radius: 10px;
    border: 2px solid #fff;
}
input{
    /* margin-top:20px; */
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #fff;
    height: 40px;
    outline: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
   color:rgb(0, 0, 0);
    width: 200px;
}
#piechart{
    width: 100%;
    height:500px;
}

button{
    margin-top: 50px;
    width: 200px;
    height: 40px;
    background-color:#184A78;
    border-radius: 10px;
    outline: none;
    border: 1px solid #fff;
    box-shadow: #fff;
    cursor: pointer;
}
button:hover{
    
 background-color: #D7CEC8;
 color:  #184A78;
}
@media screen and (max-width: 800px) {
    .container{
        flex-direction: column-reverse;
    }
    .left-sub{
        width: 100%;
        border-radius:none;
        border-top-right-radius: 20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;

    }
    .right-sub{
        width: 100%;
        border-top-left-radius:20px;
        border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    }

    #piechart{
        width: 100%;
    }
  }