/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Poppins" , sans-serif;
}
.header{
    position: absolute;
    top: 0;
    z-index: 10000;
}



/* scroll bar */
html::-webkit-scrollbar{
    width: .8rem;
    
  }
  
  html::-webkit-scrollbar-track{
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb{
    background: #184A78;
    border-radius: 2rem;
  }

body{
    position: relative;
    background-color:white;
    z-index: 20000;
}

/* SIDE BAR START */
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #184A78;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none; 
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}


.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #184A78;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
/* side bar end */


/* CARDS START */
.cards{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top:130px;
    /* left: 50px; */
    z-index: 999;
    /* margin-left: 150px; */
    justify-content: center;
   
  }
  
.card{
    width: 250px;
    height: 100px;
    padding-top: 18px;
    margin-right: 40px;
    margin-bottom : 50px;
    text-align:center;
    z-index: 999;
    cursor:pointer;
    border-radius:10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    font-weight: bolder;
    font-size: large;
  }

.result{
    color:#4FC3A1 ;
    font-weight: 800;
    font-size: x-large;
  }
/* CARDS END */

.labels{
    position:fixed;
    z-index: 2000;
    left:55px;
    top:180px;
}
.chart{
    margin-top:90px;
    margin-left:300px; 
    width:400px;
    height:400px;
}
.chart1{
    margin-top:150px;
    /* margin-left:700px; */
    width:800px;
    height:500px;
}

/* .card { grid-area: r1; }
.report { grid-area: r2; } */
.chart { grid-area: r3; }
.chart1 { grid-area: r2; }

.charts{
display: grid;
grid-template-areas:
    'r3 r2';

}
/* .container{
display: grid;
grid-template-areas:
    'r1 r2';
} */
#confirm{
    float: left;
    background-color: #2277B2 ;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-left: 200px;
    margin-top: 350px;
    transition: ease-in-out;
  }
  #confirm:hover{
    background-color: #D7CEC8;
    color:#184A78 ;
    box-shadow: 0 0 3px 1px rgb(66, 133, 187);
  
  }

  /* admin target change option */

  .change_target {
    margin-top: 12px;
    margin-left: 25px;
    width: 200px;
    height: 60px;
    background-color: white;
    visibility: hidden;
    border: 2px solid #184A78;

}

#new_target {
    text-align: center;
}
#change_here{
    margin-top: -80px;
    font-size: 9px;
    visibility: hidden;
}