* {
    margin: 0;
    padding: 0;

}
body {
    background: #ffffff;
    position: relative;
    height: 700px;

}
.container {
    display: flex;
    align-items: center;
    justify-content: center;

}
.text_addProduct {
    padding: 20px;
    margin-bottom: 10px;
    /* font-size: 20px; */
    font-weight: light;
    /* text-transform: uppercase; */
    /* margin-top: 10px; */
    font-size: x-large;

}
.form {
    width: 450px;
    height: 650px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    z-index: 0;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}
.container input {
    margin-bottom: 20px;
    width: 100%;
    
}
.form input[type="text"] {
    border: none;
    width: 300px;
    /* height: 1%; */
    border-bottom: 1px solid #dddd;
    /* background:; */
    outline: none;
    height: 25px;
    color: rgb(2, 2, 2);
    font-weight: light;
    font-size: medium   ;
    padding: 7px;
   
}
select {
    width:320px;
    height:30px;
    /* background:#c8c7c6; */
    outline: none;
    height: 7%;
    margin-bottom: 20px;
    color: rgb(2, 2, 2);
    font-weight: light;
    font-size: 15px;
    color: rgb(2, 2, 2);
    border: none;
    border-bottom: 1px solid rgb(230, 226, 226);
    font-weight: 100;

}
.form input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background:#2277B2;
    color: #fff;
    /* font-size: 18px; */
    font-weight: 100;
    border-radius: 10px;

}
.form input[type="submit"]:hover {
    background-color: #08975b;
    cursor: pointer;

}

.form input[type="file"] {
    outline: none;
    /* border: none; */
    height: 7%;
    width: 300px;
    border-bottom: #dddd;
    /* font-weight: bold; */
  
}


.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;

}
.custom-file-input::before {
    content: 'Select Picture';
    display: inline-block;
    border: 1px solid rgb(5, 5, 5);
    border-radius: 4px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;

}
  .custom-file-input:hover::before {
    border-color: black;

} 
.form p{
    margin: 0;
    padding: 0;
    font-weight: light;

}
.error{
    background-color: white;
    color: red;

}
/* .div_MessageContainer {                                    division message container */
    /* position: fixed;
    width: 100%;
    height: 35%;
    top: 35%; */
    /* background-color: aqua; */
    /* visibility: hidden; */

/* } */
.div_messageArea {
    position: fixed;
    width: 455px;
    height: 35%;
    top: 35%;
    background-color: darkslateblue;
    left: 35%;
    color: white;
    visibility: hidden;

}
 /* scroll bar */
 html::-webkit-scrollbar{
  width: .8rem;
  
}

html::-webkit-scrollbar-track{
  background: transparent;

}

html::-webkit-scrollbar-thumb{
  background: #184A78;
  border-radius: 2rem;

}
.btn_submit {
    font-size: medium;
}
.div_btnBack {
    position: absolute;
    top: 110%;
    left: 45%;
    height: 15%;
    width: 10%;
    color: white;
    /* background-color: #7c224f; */

}
.btn_back {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 40%;
    font-size: large;
    font-weight: light;
    background-color: #184A78;
    color: white;
    border: none;
    border-radius: 10px;
    
}
/* .error {
    position: absolute;
    top: 0%;
    left: 45%;
    align-self: center;

} */
.messagecontainer {
    background-color: transparent;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 110%;
    
}
.messageArea {
    background-color: #f6f8f7;
    position: absolute;
    width: 40%;
    height: 45%;
    left: 30%;
    top: 25%;
    border-radius: 15px;
    /* border-color: #184A78; */
    border: 4px solid #184A78;

}
.popUpTextArea {
    width: 34%;
    height: 10%;
    /* background-color: darkorange; */
    position: absolute;
    left: 33%;
    top: 40%;

}
.popUpTextArea2 {
    width: 22%;
    height: 10%;
    /* background-color: darkviolet; */
    position: absolute;
    left: 39%;
    top: 50%;

}
.done {
    width: 12%;
    height: 10%;
    background-color: #184A78;
    position: absolute;
    bottom: 15%;
    left: 44%;
    border-radius: 10px;
    font-size: large;
    font-weight: 400;
    border: none;

}
.checkIcon {
    width: 8%;
    height: 14%;
    position: absolute;
    /* background-color: lawngreen; */
    left: 46%;
    top: 14%;
    
}
.fa-solid fa-circle-check fa-3x {
    position: absolute;
    top: 10%;
    color: #05be3d;
    
}